<% layout('layout') -%>

<div class="estimate">

        <div class="sub-top">
            <div class="container">
                <p class="fz29">
                제작문의, 견적문의, 사업제휴, 제안서 등<br>
                궁금하신 내용을 접수해주시면 연락드리겠습니다.
                </p>
                <p class="fz16">체계적인 리서치, 전략적 기획, 감각적인 디자인 개발, 통합적인 전략으로 솔루션을 제시하여 클라이언트에게 만족을 제공하며 소비자 모두에게 감동을 주는 결과를 창조할 것을 약속드립니다.</p>
            </div>
        </div>

        <div class="tab-line">
            <div class="container">
                <h2 class="theme-tab-title">
                    <strong>Q&A list</strong>
                    <small>제작문의, 견적문의, 사업제휴 등 궁금하신 내용을 접수해주시면 연락드리겠습니다.</small>
                </h2>
                <ul class="nav theme-tab-nav">
                    <li class="on">
                        <a href="/estimateList"><strong>견적문의 목록</strong></a>
                    </li>
                    <li>
                        <a href="/estimate"><strong>견적문의 작성</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


