<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width"/>
   <!--  <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="icon" href="/img/favicon/favicon-16.png" sizes="16x16">
    <link rel="icon" href="/img/favicon/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/img/favicon/favicon-48.png" sizes="48x48">
    <link rel="icon" href="/img/favicon/favicon-64.png" sizes="64x64">
    <link rel="icon" href="/img/favicon/favicon-128.png" sizes="128x128"> -->

    <title>유두환 과제</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/theme.css" rel="stylesheet" />
    <link href="/css/sample.css" rel="stylesheet" />

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>

    <script src="/js/vendor/core-js/client/shim.min.js"></script>
    <script src="/js/vendor/zone.js/dist/zone.js"></script>
    <script src="/js/vendor/reflect-metadata/Reflect.js"></script>
    <script src="/js/vendor/systemjs/dist/system.src.js"></script>

    <script src="/js/systemjs.config.js"></script>

    <script>
        System.import('app').catch(function(err){ console.error(err);  });
    </script>

    <base href="/">

    <!--[if lt IE 9]>
        <script src="/js/html5shiv.min.js"></script>
        <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div id="header">
    <div class="container title">
    게시물 리스트
    </div>
</div>

<div class="container">
    <div class="content-title">
        사례글을 확인해 보세요
        <a href="" class="btn btn-write">글작성 학기</a>
    </div>

    <ul class="content-list">
        <li>
            <div class="content-list-q">
                <div class="content-list-title">협박죄 등 성립 여부</div>
                <div class="content-list-cntn">
                    1.A와 저는
                </div>
                <div class="content-list-date">
                    2달 전 질문 작성됨
                </div>
            </div>
            <div class="content-list-a">
                <div class="content-list-writer">
                    김태환 변호사의 답변
                </div>
                <div class="content-list-acntn">
                    협박죄, 정보통
                </div>
            </div>
        </li>

        <li>
            <div class="content-list-q">
                <div class="content-list-title">협박죄 등 성립 여부</div>
                <div class="content-list-cntn">
                    1.A와 저는
                </div>
                <div class="content-list-date">
                    2달 전 질문 작성됨
                </div>
            </div>
            <div class="content-list-a">
                <div class="content-list-writer">
                    김태환 변호사의 답변
                </div>
                <div class="content-list-acntn">
                    협박죄, 정보통
                </div>
            </div>
        </li>

    </ul>
    <button type="button" class="btn-more">더보기</button>
</div>

 <div id="footer">
    <div class="container">
        <div class="footer-info01">
            (주)로앤컴퍼니 |
            대표자:김본환 |
            사업자번호:264-81-07128 |
            통신판매번호:2016-서울초-0227
        </div>
        <div class="footer-info">
            (주)로앤컴퍼니는 대한민국 법률시장의 정보비대칭과 불법 법조브로를

        </div>
        <p class="footer-copyright">COPYRIGHT &copy; pricegod Co.,LTD All RIGHTS RESERVE</p>

    </div>
</div>

</body>
</html>
